<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Iniciar sesión</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input-text-wrapper
          label="Email"
          type="email"
          icon="email"
          placeholder="correo@ejemplo.com"
          formControlName="email"
          [required]="true"
          [errorMessage]="emailErrorMessage"
        />

        <input-text-wrapper
          label="Contraseña"
          type="password"
          icon="lock"
          placeholder="Ingresa tu contraseña"
          formControlName="password"
          [required]="true"
          [errorMessage]="passwordErrorMessage"
        />

        <button-wrapper
          title="Iniciar sesión"
          icon="login"
          [disabled]="loginForm.invalid || isLoading()"
          (clicked)="onSubmit()"
        />
      </form>
    </mat-card-content>
  </mat-card>
</div>
