.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.login-card {
  width: 100%;
  max-width: 400px;

  mat-card-header {
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    button-wrapper {
      margin-top: 1rem;
      align-self: stretch;

      ::ng-deep button {
        width: 100%;
      }
    }
  }
}
