@use './reboot-variables' as rv;

html {

  --mat-button-filled-container-color: #{rv.$reboot-primary};
  --mat-button-filled-label-text-color: #{rv.$reboot-on-primary};
  --mat-button-filled-container-shape: #{rv.$reboot-border-radius-sm};
  --mat-button-filled-state-layer-color: #{rv.$reboot-white};
  --mat-button-filled-ripple-color: rgba(255, 255, 255, 0.12);
  --mat-button-filled-container-height: 36px;
  --mat-button-filled-horizontal-padding: 16px;
  --mat-button-filled-label-text-size: #{rv.$reboot-font-size-base};
  --mat-button-filled-label-text-weight: #{rv.$reboot-font-weight-medium};
  --mat-button-filled-label-text-tracking: normal;
  --mat-button-filled-disabled-container-color: #{rv.$reboot-gray-150};
  --mat-button-filled-disabled-label-text-color: #{rv.$reboot-gray-400};

  --mat-button-protected-container-color: #{rv.$reboot-primary};
  --mat-button-protected-label-text-color: #{rv.$reboot-on-primary};
  --mat-button-protected-container-shape: #{rv.$reboot-border-radius-sm};
  --mat-button-protected-container-elevation-shadow: #{rv.$reboot-shadow-none};
  --mat-button-protected-hover-container-elevation-shadow: #{rv.$reboot-shadow-none};
  --mat-button-protected-focus-container-elevation-shadow: #{rv.$reboot-shadow-none};
  --mat-button-protected-pressed-container-elevation-shadow: #{rv.$reboot-shadow-none};
  --mat-button-protected-container-height: 36px;
  --mat-button-protected-horizontal-padding: 16px;
  --mat-button-protected-state-layer-color: #{rv.$reboot-white};
  --mat-button-protected-label-text-size: #{rv.$reboot-font-size-base};
  --mat-button-protected-label-text-weight: #{rv.$reboot-font-weight-medium};
  --mat-button-protected-label-text-tracking: normal;
  --mat-button-protected-disabled-container-color: #{rv.$reboot-gray-150};
  --mat-button-protected-disabled-label-text-color: #{rv.$reboot-gray-400};

  --mat-button-outlined-container-shape: #{rv.$reboot-border-radius-sm};
  --mat-button-outlined-outline-color: #{rv.$reboot-outline};
  --mat-button-outlined-outline-width: #{rv.$reboot-border-width};
  --mat-button-outlined-label-text-color: #{rv.$reboot-gray-800};
  --mat-button-outlined-state-layer-color: #{rv.$reboot-gray-900};
  --mat-button-outlined-container-height: 36px;
  --mat-button-outlined-horizontal-padding: 16px;
  --mat-button-outlined-label-text-size: #{rv.$reboot-font-size-base};
  --mat-button-outlined-label-text-weight: #{rv.$reboot-font-weight-medium};
  --mat-button-outlined-label-text-tracking: normal;
  --mat-button-outlined-disabled-label-text-color: #{rv.$reboot-gray-400};
  --mat-button-outlined-disabled-outline-color: #{rv.$reboot-gray-200};

  --mat-button-text-label-text-color: #{rv.$reboot-gray-700};
  --mat-button-text-state-layer-color: #{rv.$reboot-gray-900};
  --mat-button-text-container-shape: #{rv.$reboot-border-radius-sm};
  --mat-button-text-container-height: 36px;
  --mat-button-text-label-text-size: #{rv.$reboot-font-size-base};
  --mat-button-text-label-text-weight: #{rv.$reboot-font-weight-medium};
  --mat-button-text-label-text-tracking: normal;

  --mat-button-tonal-container-color: #{rv.$reboot-gray-100};
  --mat-button-tonal-label-text-color: #{rv.$reboot-gray-800};
  --mat-button-tonal-container-shape: #{rv.$reboot-border-radius-sm};
  --mat-button-tonal-container-height: 36px;
  --mat-button-tonal-label-text-size: #{rv.$reboot-font-size-base};
  --mat-button-tonal-label-text-weight: #{rv.$reboot-font-weight-medium};
  --mat-button-tonal-label-text-tracking: normal;
}

.mat-mdc-button-base {
  transition:
    background-color rv.$reboot-transition,
    box-shadow rv.$reboot-transition,
    border-color rv.$reboot-transition;
  text-transform: none !important;
  letter-spacing: normal !important;

  .mat-icon {
    color: inherit;
  }
}
