.dashboard-header {
  margin-bottom: var(--ui-space-4);
  h2 {
    font-weight: var(--ui-font-weight-bold);
    margin-bottom: var(--ui-space-1);
  }
  p {
    color: var(--ui-color-text-muted);
  }
}
