<ng-container *i18n="'auth'; let t">
  <ui-page class="forgot-password-page" [layout]="EPageLayout.CENTERED">
    <ui-page-header>
      <ui-title [title]="t(i18nKeys.TITLE)" [subtitle]="t(i18nKeys.SUBTITLE)" />
    </ui-page-header>

    <ui-page-body>
      <ui-surface class="auth-card" [variant]="ESurfaceVariant.CARD" [padding]="ESpacing.LG">
        <ui-form-container [formGroup]="forgotPasswordForm" (formSubmit)="onSubmit()">
          <input-text-wrapper [config]="emailConfig" formControlName="email" [errorMessage]="emailErrorMessage" />
        </ui-form-container>

        <button-wrapper
          disableOnLoading
          [title]="t(i18nKeys.FORM.SUBMIT_BUTTON)"
          [tooltip]="t(submitButtonTooltipKey)"
          [svgIcon]="icons.AUTH.EMAIL"
          [fullWidth]="true"
          [disabled]="forgotPasswordForm.invalid"
          [variant]="EButtonWrapperVariant.FLAT"
          (clicked)="onSubmit()"
        />
      </ui-surface>
    </ui-page-body>

    <ui-page-footer>
      <ui-inline-text>
        {{ t(i18nKeys.FOOTER.REMEMBERED_PASSWORD) }}
        <ui-link
          [route]="routes.LOGIN"
          [label]="t(i18nKeys.FOOTER.BACK_TO_LOGIN)"
          [tooltip]="t(i18nKeys.TOOLTIPS.BACK_TO_LOGIN)"
          [adjacent]="true"
        />
      </ui-inline-text>
    </ui-page-footer>
  </ui-page>
</ng-container>
