@use '@angular/material' as mat;
@use './styles/reboot-material-angular';

@use '@fontsource-variable/mona-sans';
@use '@fontsource-variable/inter';
@use '@fontsource-variable/jetbrains-mono';

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: 'Mona Sans Variable',
    density: -1,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}
