<div class="form-group">
  <label class="form-label">
    {{ label() }}
    @if (required()) {
      <span class="form-required">*</span>
    }
  </label>

  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-icon matPrefix [class.form-field-icon--hidden]="!icon()">
      {{ icon() || 'circle' }}
    </mat-icon>

    <input
      title="{{ label() }}"
      matInput
      [type]="type()"
      [placeholder]="placeholder()"
      [required]="required()"
      [disabled]="isDisabled()"
      [attr.tabindex]="tabindex() ?? null"
      [ngModel]="value()"
      (ngModelChange)="onChange($event)"
      (blur)="onBlur()"
    />
  </mat-form-field>

  <span class="form-caption" [class.form-caption--error]="errorMessage()">
    @if (errorMessage()) {
      {{ errorMessage() }}
    } @else if (hint()) {
      {{ hint() }}
    } @else {
      &nbsp;
    }
  </span>
</div>
