<ng-container *i18n="'auth'; let t">
  <ui-page [layout]="EPageLayout.CENTERED">
    <ui-page-header>
      <ui-stack [align]="EAlign.CENTER" [gap]="ESpacing.MD">
        <ui-icon-circle>
          <icon-wrapper [icon]="icons.APP.LOGO" />
        </ui-icon-circle>

        <ui-title [title]="t(i18nKeys.TITLE)" [subtitle]="t(i18nKeys.SUBTITLE)" />
      </ui-stack>
    </ui-page-header>

    <ui-page-body>
      <ui-surface [variant]="ESurfaceVariant.CARD" [padding]="ESpacing.LG">
        <ui-form-container [formGroup]="loginForm" (formSubmit)="onSubmit()">
          <input-text-wrapper
            [config]="emailConfig"
            [formControlName]="loginFormKeys.email"
            [errorMessage]="emailErrorMessage"
          />

          <input-password-wrapper
            [config]="passwordConfig"
            [formControlName]="loginFormKeys.password"
            [errorMessage]="passwordErrorMessage"
          />

          <ui-form-row [align]="EAlign.BETWEEN">
            <checkbox-wrapper [label]="t(i18nKeys.FORM.REMEMBER_ME)" formControlName="rememberMe" />

            <ui-link [route]="routes.FORGOT_PASSWORD" [label]="t(i18nKeys.FORM.FORGOT_PASSWORD)" />
          </ui-form-row>

          <button-wrapper
            disableOnLoading
            [title]="t(i18nKeys.FORM.SUBMIT_BUTTON)"
            [fullWidth]="true"
            [disabled]="loginForm.invalid"
            [variant]="EButtonWrapperVariant.FLAT"
          />
        </ui-form-container>
      </ui-surface>
    </ui-page-body>

    <ui-page-footer>
      <ui-inline-text>
        {{ t(i18nKeys.FOOTER.NO_ACCOUNT) }}
        <ui-link [route]="routes.SIGNUP" [label]="t(i18nKeys.FOOTER.SIGN_UP_LINK)" />
      </ui-inline-text>
    </ui-page-footer>
  </ui-page>
</ng-container>
