<ng-container *i18n="'auth'; let t">
  <ui-page class="login-page" [layout]="EPageLayout.CENTERED">
    <ui-page-header>
      <ui-title [title]="t(i18nKeys.TITLE)" [subtitle]="t(i18nKeys.SUBTITLE)" />
    </ui-page-header>

    <ui-page-body>
      <ui-surface class="auth-card" [variant]="ESurfaceVariant.CARD" [padding]="ESpacing.LG">
        <ui-form-container [formGroup]="loginForm" (formSubmit)="onSubmit()">
          <input-text-wrapper
            [config]="emailConfig"
            [formControlName]="loginFormKeys.email"
            [errorMessage]="emailErrorMessage"
          />

          <input-password-wrapper
            [config]="passwordConfig"
            [formControlName]="loginFormKeys.password"
            [errorMessage]="passwordErrorMessage"
          />

          <ui-form-row [align]="EAlign.BETWEEN">
            <checkbox-wrapper
              [label]="t(i18nKeys.FORM.REMEMBER_ME)"
              [tooltip]="t(i18nKeys.TOOLTIPS.REMEMBER_ME)"
              formControlName="rememberMe"
            />

            <ui-link
              [route]="routes.FORGOT_PASSWORD"
              [label]="t(i18nKeys.FORM.FORGOT_PASSWORD)"
              [tooltip]="t(i18nKeys.TOOLTIPS.FORGOT_PASSWORD)"
            />
          </ui-form-row>
        </ui-form-container>

        <button-wrapper
          disableOnLoading
          [title]="t(i18nKeys.FORM.SUBMIT_BUTTON)"
          [tooltip]="t(submitButtonTooltipKey)"
          [svgIcon]="icons.AUTH.LOGIN_BUTTON"
          [fullWidth]="true"
          [disabled]="loginForm.invalid"
          [variant]="EButtonWrapperVariant.FLAT"
          (clicked)="onSubmit()"
        />
      </ui-surface>
    </ui-page-body>

    <ui-page-footer>
      <ui-inline-text>
        {{ t(i18nKeys.FOOTER.NO_ACCOUNT) }}
        <ui-link [route]="routes.SIGNUP" [label]="t(i18nKeys.FOOTER.SIGN_UP_LINK)" [adjacent]="true" />
      </ui-inline-text>
    </ui-page-footer>
  </ui-page>
</ng-container>
