@let currentLang = _currentLang();
<dropdown-wrapper customClass="language-selector-trigger" menuClass="language-selector-menu">
  <ng-container slot="trigger">
    <icon-wrapper icon="translate" />
    <span class="language-selector-label">{{ _getLanguageLabel(currentLang) }}</span>
  </ng-container>

  <ng-container slot="content">
    @for (lang of _availableLanguages; track lang.code) {
      <button
        class="dropdown-item"
        [attr.data-testid]="'language-option-' + lang.code"
        [class.active]="currentLang === lang.code"
        (click)="setLanguage(lang.code)"
      >
        {{ _getLanguageLabel(lang.code) }}
      </button>
    }
  </ng-container>
</dropdown-wrapper>
